.site-layout-content{
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
input#normal_login_username{
    padding: 15px;
}
input#normal_login_password{
    padding: 15px;

}
.login-form-button{
    padding: 15px 40px;
    height: 100%;
    margin-right: 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.avatar{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
  
}
.card-img-top{
    border-radius: 50%;
}
.card-text{
    display: flex;
    margin-left: 100px;
}